devtoolset-7.x86_64
openssl-static.x86_64
libicu.x86_64
boost-regex.x86_64
boost-graph.x86_64
boost-locale.x86_64
boost-python.x86_64
boost-timer.x86_64
boost-wave.x86_64
boost-math.x86_64
boost-test.x86_64
boost-serialization.x86_64
boost-random.x86_64
boost-program-options.x86_64
boost-atomic.x86_64
boost-iostreams.x86_64
boost-context.x86_64
boost-signals.x86_64
boost.x86_64
boost-devel.x86_64
libjpeg-turbo.x86_64
libpng.x86_64
freetype.x86_64
mesa-libglapi.x86_64
libxshmfence.x86_64
libglvnd.x86_64
fontpackages-filesystem.noarch
cups-libs.x86_64
libICE.x86_64
libxslt.x86_64
libwayland-server.x86_64
python-lxml.x86_64
python-javapackages.noarch
javapackages-tools.noarch
libSM.x86_64
dejavu-fonts-common.noarch
dejavu-sans-fonts.noarch
fontconfig.x86_64
ttmkfdir.x86_64
jasper-libs.x86_64
pcsc-lite-libs.x86_64
libX11-common.noarch
copy-jdk-configs.noarch
tzdata-java.noarch
atk.x86_64
libthai.x86_64
libfontenc.x86_64
xorg-x11-font-utils.x86_64
xorg-x11-fonts-Type1.noarch
hwdata.x86_64
libpciaccess.x86_64
libdrm.x86_64
mesa-libgbm.x86_64
libXau.x86_64
libxcb.x86_64
libX11.x86_64
libXext.x86_64
libXrender.x86_64
libXfixes.x86_64
libXi.x86_64
libXdamage.x86_64
libXcomposite.x86_64
libXtst.x86_64
libXcursor.x86_64
libXft.x86_64
libXrandr.x86_64
libXinerama.x86_64
libXxf86vm.x86_64
mesa-libGL.x86_64
libglvnd-glx.x86_64
giflib.x86_64
git.x86_64
jbigkit-libs.x86_64
libtiff.x86_64
gdk-pixbuf2.x86_64
gtk-update-icon-cache.x86_64
pixman.x86_64
hicolor-icon-theme.noarch
lksctp-tools.x86_64
java-1.8.0-openjdk-headless.x86_64
fribidi.x86_64
libwayland-client.x86_64
libglvnd-egl.x86_64
mesa-libEGL.x86_64
cairo.x86_64
alsa-lib.x86_64
graphite2.x86_64
harfbuzz.x86_64
pango.x86_64
gtk2.x86_64
java-1.8.0-openjdk.x86_64
xml-commons-apis.noarch
xml-commons-resolver.noarch
xalan-j2.noarch
xerces-j2.noarch
java-1.8.0-openjdk-devel.x86_64
ant.noarch
zlib-devel.x86_64
libsepol-devel.x86_64
libcom_err-devel.x86_64
pcre-devel.x86_64
libselinux-devel.x86_64
libverto-devel.x86_64
keyutils-libs-devel.x86_64
libkadm5.x86_64
krb5-devel.x86_64
openssl-devel.x86_64
m4.x86_64
perl-Thread-Queue.noarch
perl-Test-Harness.noarch
perl-Data-Dumper.x86_64
autoconf.noarch
automake.noarch
libtool.x86_64
bison.x86_64
flex.x86_64
libgfortran.x86_64
blas.x86_64
lapack.x86_64
atlas.x86_64
openblas-serial.x86_64
openblas-threads.x86_64
python-setuptools.noarch
python-nose.noarch
numpy.x86_64
python2-numpy.noarch
libquadmath-devel.x86_64
libicu-devel.x86_64
libtirpc.x86_64
python3-setuptools.noarch
python3-pip.noarch
python3.x86_64
python3-libs.x86_64
python36-numpy.x86_64
glibc-static.x86_64
zlib-static.x86_64
boost-static.x86_64
